{{>header}}
{{>navbar}}

<!-- main header -->
<div class="contain-fluid main_header">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <div class="row">
                <!-- left side div -->

                <div class="col-md-12 col-12 main_header_left align-items-center">
                    <figure class = 'errImg'>
                        <img src="images/error.jpg" alt="404 Error" class = "img404">
                    </figure>
                
                
                <h2>Welcome to Zahid Ansari's Weather Website</h2>
                <h1>{{errorMsg}}</h1>
                <a href = '/',target = '_weather'><button>Go Back</button></a>
                    
                </div>
            </div>
        </div>
    </div>
</div>
{{>footer}}